<?xml version="1.0"?>
<ruleset name="x402-pay">
    <description>Coding standards for the x402 Pay plugin.</description>
    <file>x402-pay.php</file>
    <file>src</file>
    <arg name="extensions" value="php"/>
    <arg name="colors"/>
    <arg value="sp"/>
    <rule ref="WordPress-Extra">
        <!-- We use PSR-4 autoloading, so class files are named after the class, not WPCS-style. -->
        <exclude name="WordPress.Files.FileName"/>
    </rule>
    <rule ref="PHPCompatibilityWP"/>
    <config name="testVersion" value="8.1-"/>
    <config name="minimum_supported_wp_version" value="6.4"/>
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array">
                <element value="x402-pay"/>
            </property>
        </properties>
    </rule>
</ruleset>
